.settingsGroup {
    align-items: stretch;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.settingsGroup > * {
    flex: 0 0 auto;
}

.settingsGroup > *:not(:last-child) {
    border-bottom: 1px solid var(--gray-4);
}
