html {
    --black: black;
    --blue: rgb(10, 132, 255);
    --gray: rgb(142, 142, 147);
    --green: rgb(48, 209, 88);
    --indigo: rgb(94, 92, 230);
    --orange: rgb(255, 159, 10);
    --pink: rgb(255, 95, 95);
    --purple: rgb(191, 90, 242);
    --red: rgb(255, 69, 58);
    --teal: rgb(100, 210, 255);
    --white: white;
    --yellow: rgb(255, 214, 10);
    --gray-2: rgb(99, 99, 102);
    --gray-3: rgb(72, 72, 74);
    --gray-4: rgb(58, 58, 60);
    --gray-5: rgb(44, 44, 46);
    --gray-6: rgb(28, 28, 30);
    --black-persist: black;
    --white-persist: white;
    --blue-transparent: rgba(10, 132, 255, 0.15);
    --black-transparent-persist: rgba(0, 0, 0, 0.5);
}

html[data-theme='light'] {
    --black: white;
    --blue: rgb(0, 122, 255);
    --gray: rgb(142, 142, 147);
    --green: rgb(52, 199, 89);
    --indigo: rgb(88, 86, 214);
    --orange: rgb(255, 149, 0);
    --pink: rgb(255, 45, 85);
    --purple: rgb(175, 82, 222);
    --red: rgb(255, 59, 48);
    --teal: rgb(90, 200, 250);
    --white: black;
    --yellow: rgb(255, 204, 0);
    --gray-2: rgb(174, 174, 178);
    --gray-3: rgb(199, 199, 204);
    --gray-4: rgb(209, 209, 214);
    --gray-5: rgb(229, 229, 234);
    --gray-6: rgb(242, 242, 247);
    --blue-transparent: rgba(0, 122, 255, 0.15);
}

@media (prefers-color-scheme: light) {
    html[data-theme='system'] {
        --black: white;
        --blue: rgb(0, 122, 255);
        --gray: rgb(142, 142, 147);
        --green: rgb(52, 199, 89);
        --indigo: rgb(88, 86, 214);
        --orange: rgb(255, 149, 0);
        --pink: rgb(255, 45, 85);
        --purple: rgb(175, 82, 222);
        --red: rgb(255, 59, 48);
        --teal: rgb(90, 200, 250);
        --white: black;
        --yellow: rgb(255, 204, 0);
        --gray-2: rgb(174, 174, 178);
        --gray-3: rgb(199, 199, 204);
        --gray-4: rgb(209, 209, 214);
        --gray-5: rgb(229, 229, 234);
        --gray-6: rgb(242, 242, 247);
        --blue-transparent: rgba(0, 122, 255, 0.15);
    }
}
