.editor {
    background: transparent;
    cursor: text;
    outline: none;
    overflow: hidden;
    user-select: text;
    word-break: break-word;
}

.editor:empty:before {
    color: var(--gray);
    content: attr(data-placeholder);
}

.editor * {
    background: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    -webkit-tap-highlight-color: transparent;
    text-decoration-line: none;
}

.editor h1 {
    font-size: var(--fontBig);
    margin: 0.5rem 0;
}

.editor ol, ul {
    margin: 0.5rem 0;
    padding-left: 3rem;
}