.menuButton {
    background: var(--gray-6);
    border: none;
    border-radius: 0;
    color: var(--blue);
    cursor: pointer;
    font-family: inherit;
    font-size: var(--fontNormal);
    outline: none;
    padding: 1rem;
    transition: background 300ms;
}

.menuButton:active {
    background: var(--gray-4);
}

.menuButton.active {
    color: var(--teal);
}
