.account {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.account > * {
    flex: 0 0 auto;
}

.account > *:not(:last-child) {
    margin-bottom: 0.5rem;
}

.displayName {
    font-size: var(--fontNormal);
}

.email {
    color: var(--gray);
}
