.writing {
    background: var(--gray-6);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem;
    transition: background 300ms;
}

.writing:active {
    background: var(--gray-4);
}

.title {
    border-bottom: 1px solid var(--gray-4);
    flex: 0 0 auto;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content {
    flex: 1 1 auto;
    overflow: hidden;
    word-break: break-word;
}

.content * {
    background: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    -webkit-tap-highlight-color: transparent;
    text-decoration-line: none;
}

.content h1 {
    font-size: var(--fontBig);
    margin: 0.5rem 0;
}

.content ol, ul {
    margin: 0.5rem 0;
    padding-left: 3rem;
}