.modalWrapper {
    background: var(--black-transparent-persist);
    display: flex;
    flex-direction: column;
    height: calc(100% - 23px);
    left: 0;
    overflow: hidden;
    padding-top: 23px;
    position: absolute;
    top: 0;
    transition: background 300ms;
    width: 100%;
    z-index: 2;
}

.modalWrapper.opening {
    background: transparent;
}

.modalWrapper.close {
    background: transparent;
}

.modal {
    background: var(--black);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: hidden;
    transition: transform 300ms;
}

.modal.opening {
    transform: translate3d(0, 100%, 0);
}

.modal.close {
    transform: translate3d(0, 100%, 0);
}