.addWriting {
    background: var(--blue-transparent);
    border: none;
    border-radius: 15px;
    color: var(--blue);
    cursor: pointer;
    display: flex;
    fill: var(--blue);
    flex-direction: column;
    flex-wrap: wrap;
    font-family: inherit;
    font-size: var(--fontBiggest);
    font-weight: bold;
    justify-content: space-between;
    outline: none;
    padding: 1rem;
    text-align: start;
    transition: opacity 300ms;
}

.addWriting:active {
    opacity: 0.7;
}

.icon {
    flex: 0 0 auto;
    height: 48px;
    width: 48px;
}
