.menuGroup {
    align-items: stretch;
    display: flex;
    overflow: hidden;
}

.menuGroup:not(.horizontal) {
    border-radius: 15px;
    flex-direction: column;
}

.menuGroup:not(.horizontal) > * {
    flex: 0 0 auto;
}

.menuGroup.horizontal > * {
    flex: 1 0 auto;
}

.menuGroup:not(.horizontal) > *:not(:last-child) {
    border-bottom: 1px solid var(--gray-4);
}

.menuGroup.horizontal > *:not(:last-child) {
    border-right: 1px solid var(--gray-4);
}
