.headerButton {
    flex: 0 0 56px;
}

.loader {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}

.title {
    border-bottom: 1px solid var(--gray-5);
    font-size: var(--fontBiggest);
    font-weight: bold;
}

.editor {
    flex: 1 0 auto;
    font-size: var(--fontNormal);
}

.editor:after {
    content: '';
    display: block;
    height: 100vh;
    pointer-events: none;
    width: 100%;
}