.search {
    align-items: center;
    display: flex;
}

.input {
    align-items: center;
    background: var(--gray-6);
    border-radius: 10px;
    display: flex;
    fill: var(--gray);
    flex: 1 1 auto;
    padding: 0.5rem;
    transition: background 300ms;

}

.input:active {
    background: var(--gray-4);
}

.icon {
    flex: 0 0 auto;
}

.searchIcon {
    fill: var(--gray);
}

.inputElement {
    background: transparent;
    border: none;
    border-radius: 0;
    color: inherit;
    flex: 1 1 auto;
    font-family: inherit;
    font-size: var(--fontNormal);
    line-height: inherit;
    margin: 0 0.5rem 0 0.5rem;
    outline: none;
    user-select: text;
    width: 100%;
}

.inputElement::-webkit-input-placeholder {
    color: var(--gray);
}

.inputElement:-moz-placeholder {
    color: var(--gray);
}

.inputElement::-moz-placeholder {
    color: var(--gray);
}

.inputElement:-ms-input-placeholder {
    color: var(--gray);
}

.cancel {
    flex: 0 0 auto;
    margin-left: 1rem;
}
