.error {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
}

.error > *:not(:last-child) {
    margin-bottom: 1rem;
}

.title {
    color: var(--gray);
    text-align: center;
}
